@tailwind base;
@tailwind components;
@tailwind utilities;

.activeLink{
    font-weight: 600;
}

.taskList::-webkit-scrollbar {
    width: 0px;
}

.text::-webkit-scrollbar {
    width: 0px;
}

.notelist::-webkit-scrollbar {
    width: 0px;
}

.notelist{
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

@media (max-width: 1024px){
    .menulist li, .menulist .hamburger{
        font-size: 26px;
    }
}
